<div class="container"
     [class.opened]="state === DropdownStateEnum.Opened"
    (click)="toggle()">

    <div *ngIf="selectedItem; else placeholderTmpl" class="selected-label">{{ selectedItem[label] }}</div>
    <ng-template #placeholderTmpl>
        <div class="selected-label placeholder">{{ placeholder }}</div>
    </ng-template>

    <div class="icons-container">
        <i *ngIf="selectedItem" class="icon close-icon" (click)="remove($event)"></i>
        <i [class.opened]="state === DropdownStateEnum.Opened" class="icon arrow-icon"></i>
    </div>

</div>

<ul *ngIf="state === DropdownStateEnum.Opened" class="list">
    <li class="list-item"
        [class.selected]="item[value] === selectedItem?.[value]"
        (click)="select(item[value])"
        *ngFor="let item of items">
        {{ item[label] }}
    </li>
</ul>
